/*
 * Contient toutes les variables globales :
 * couleurs, polices, tailles, espacements, ombres, etc.
 * Permet d’assurer une cohérence visuelle sur tout le site.
 */

/* VARIABLES GLOBALES */

$color-primary: #FFF7D9;
$color-dark: #5B5B5B;
$color-accent: #B4A37D;
$color-gold-light: #F9DA97;
$color-white: #FEFEFE;

/* === TYPOGRAPHIES === */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600&display=swap');
$font-main: 'Lexend', 'sans-serif';

/*=== OMBRES === */
$shadow-soft: 0 6px 14px rgba(72, 61, 61, 0.35); /* pour les carte blanc */
$shadow-hover: 0 8px 18px rgba(72, 61, 61, 0.4); /* pour les boutons */

