/*
 * Contient toutes les variables globales :
 * couleurs, polices, tailles, espacements, ombres, etc.
 * Permet d’assurer une cohérence visuelle sur tout le site.
 */

/* VARIABLES GLOBALES */

$color-primary: #f4e7c3; // beige doux du fond
$color-accent: #c1a361; // doré élégant pour les boutons et séparateurs
$color-text: #5a4a2d; // brun doux
$color-dark: #2e2e2e;
$color-white: #fff;

$font-main: 'Poppins', sans-serif;
$font-secondary: 'Playfair Display', serif;

